@charset "UTF-8";

/*** The new CSS Reset - version 1.3.1 (last updated 28.10.2021) ***/

*:where(:not(iframe,canvas,img,svg,video):not(svg *,symbol *)){all:unset;display:revert}*,*::before,*::after{box-sizing:border-box}ol,ul{list-style:none}img{max-width:100%}table{border-collapse:collapse}textarea{white-space:revert}

body{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

h1{
    font-size: 30px;
    font-weight: bold;
}

p{
    margin: 20px;
}

#game{
    margin: 0 auto;
}

#size{
    background-color: #e6e6e6;

}

.btn-play{
    background-color: #c9f2f7;
    border-radius: 20px;
    a{
        display: block;
        padding: 5px 20px;
        cursor: pointer;
        &:hover{
            border-radius: 20px;
            background-color: #00bcd4;
        }
    }
}

.clear{
    width: 600px;
    margin: 10px auto 0;
    text-align: center;
    font-size: 5rem;
    color:#fff;
    font-weight:bold;
}

.box-data{
    width: 600px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #dadada;
    text-align: right;
}



.slideBox{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #000;
    position: relative;
    background-color: gray;


    .cell{
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border: 11px solid #8bc34a;
        background-color: #4caf50;
        font-size: 100px;
        line-height: 200px;
        text-align: center;
        cursor: pointer;
    }
}

